---
import ImportantStar from "./star.svg";

interface Props {
    eventData: {
        title: string;
        time: string;
        description: string;
        tags: string[];
        utc_start: string,
        utc_end: string
    };
}

const { eventData } = Astro.props;

const curr_time = new Date()
const start_time = new Date(eventData.utc_start)
const end_time = new Date(eventData.utc_end)
const isCurr = (start_time < curr_time) && (curr_time < end_time)

const rotDeg = Math.random() * 360
---

{ isCurr ?
    <div class="container">
        <h2 style="font-size:1.75rem;font-weight:bold;">{eventData.title}</h2>
        <h2 style="font-size:1.25rem;font-weight:bold;">{eventData.time}</h2>
        <div style="flex-grow:1"></div>
        <div class="tag-box">
            {
                eventData.tags.map((tag) => {
                    return (
                        (tag.includes("Location") || tag.includes("Mandatory")) ?
                        <div class="event-tag" style={`${tag.includes("Mandatory") ? "background-color:#8fd9a5" : ""}`}>
                            <p>{tag}</p>
                        </div> 
                        : null
                    )
            })
            }
        </div>
    </div>
    : null
}

<style>
    .container {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        display:flex; 
        flex-direction:column; 
        border-radius:.5rem; 
        padding:.5rem; 
        margin-left:0.5rem;
        margin-right:0.5rem; 
        width:18rem; 
        min-height:20rem;
        height:100%;
        position: relative;
    }

    .tag-box {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:0.5rem; 
        align-items: flex-end;
        width:100%;
    }

    .event-tag {
        /* background-color:#4aba6f; */
        border: 2px black solid;
        border-radius: 10px;
        padding:0.75rem; 
        width:fit-content;
        font-weight:bold;
        text-align:center;
    }
</style>