.adminTable {
  min-width: 700px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.headerTable, .rowTable {
  display: flex;
  min-height: 40px;
  align-items: center;
  padding: 8px 16px;
  /* border-radius: 4px; */
}
.headerTable {
  background-color:#F7F7F7;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.headerTable > div {
  font-weight: bold;
}
.rowTable {
  background-color: white;
  margin-top: 2px;
}

.contentTable {
  max-height: 100%;
  height: 700px;
  overflow-y: scroll;
  background-color: rgb(174, 199, 244);
}
.rowTable:hover {
  background-color: rgb(203, 229, 255)
}
.cellId {
  width: 35px
}
.cellEmail {
  width: 150px;
}
.cellCreatedAt {
  width: 200px
}
.cellName {
  width: 150px
}
.cellAvailability {
  width: 300px;
}
.cellStatus {
  width: 70px;
}
.cellActions {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 4px;
}

/* buttons */

.declineBtn, .acceptBtn, .waitlistBtn, .waitBtn, .viewBtn, .fullyAcceptBtn {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.declineBtn:disabled, .acceptBtn:disabled, .waitlistBtn:disabled, .waitBtn:disabled, .viewBtn:disabled, .fullyAcceptBtn:disabled {
  cursor: not-allowed;
}
.declineBtn {
  background-color: #ff8a8a;
}
.acceptBtn {
  background-color: #cbffb3;
}
.waitlistBtn {
  background-color: #fbd583;
}
.waitBtn {
  background-color: #c1c1c1;
}
.fullyAcceptBtn {
  background-color: #4eff66;
}
