.svg-container {
  resize: both;
  padding: 1rem;
}

.text-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  min-height: 60px;
  padding-bottom: 10px;
}

.text-container h3 {
  position: absolute;
  transform: translateX(-50%);
  margin: 0;
  max-width: 20%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.text-container h3:nth-child(1) {
  left: 5%;
}

.text-container h3:nth-child(2) {
  left: 35%;
}

.text-container h3:nth-child(3) {
  left: 65%;
}

.text-container h3:nth-child(4) {
  left: 95%;
}

/* "waiting" (Pending), "invited" (Invited), "accepted" (Accepted), "declined", "waitlist" */
.emptyStatus {
  color: #000000;
  stroke: #d9d9d9;
  fill: #d9d9d9;
  font-weight: bold;
}

.declined {
  color: #f97979;
  stroke: #f97979;
  fill: #f97979;
  font-weight: bold;
}

.waiting,
.waitlist {
  color: #888888;
  stroke: #888888;
  fill: #888888;
  font-weight: bold;
}

.invited {
  color: #3b82f6;
  stroke: #3b82f6;
  fill: #3b82f6;
  font-weight: bold;
}

.accepted {
  color: #22c55e;
  stroke: #22c55e;
  fill: #22c55e;
  font-weight: bold;
}

/* Mobile styles */
@media (max-width: 768px) {
  .text-container {
    display: none;
  }
}
