---
import Layout from "./Layout.astro";
import Navbar from "../components/Navbar";

interface Props {
  userName?: string;
  userEmail?: string;
  currentPath: string;
}

const { userName, userEmail, currentPath } = Astro.props;
---

<Layout>
  <main id="dashboard">
    <Navbar
      userName={userName}
      userEmail={userEmail}
      currentPath={currentPath}
      client:load
    />
    <main id="dashboard-main">
      <slot />
    </main>
    <footer>Made by the <strong>SparkHacks 2026 team</strong> with love ♥</footer>
  </main>
  <script>
    import { auth } from "../firebase/client";

    const logoBtn = document.getElementById("logo")
    logoBtn?.addEventListener("click", () => {
      window.location.assign("/dashboard")
    })

    const signoutBtn = document.getElementById(
      "signout-button"
    ) as HTMLButtonElement;
    signoutBtn.addEventListener("click", async () => {
      try {
        const res = await fetch("/api/auth/signout");
        if (!res.ok) {
          alert("cannot sign out");
          return;
        }
        await auth.signOut();
        return window.location.assign("/");
      } catch (err) {
        alert("cannot sign out");
        console.log(err);
      }
    });
  </script>
</Layout>
<style>
  	@font-face {
    font-family: 'Arial';
    /* src: url('/fonts/Nunito-VariableFont_wght.ttf') format('opentype'); */
    font-weight: 0 900;
  }

	html {
    font-family: 'Arial', system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  
	code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  #dashboard {
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
  #dashboard-main {
    /* width: 100%; */
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 15px;
  }
  footer {
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #F7F7F7;
  }
  #logo {
    cursor: pointer;
  }
</style>
