---
import Layout from "./Layout.astro";
---

<Layout>
  <main id="dashboard">
    <nav>
      <div id="logo" style="display: flex; gap: 10px; align-items: center">
        <img src="/sparkhacks-logo.svg" alt="logo" width="45" height="45"/>
        <h1>Dashboard</h1>
      </div>
      <button id="signout-button">Sign out</button>
    </nav>
    <main id="dashboard-main">
      <slot />
    </main>
    <footer>Made by <strong>SparkHacks 2025 team</strong> with love ♥</footer>
  </main>
  <script>
    import { auth } from "../firebase/client";

    const logoBtn = document.getElementById("logo")
    logoBtn?.addEventListener("click", () => {
      window.location.assign("/dashboard")
    })

    const signoutBtn = document.getElementById(
      "signout-button"
    ) as HTMLButtonElement;
    signoutBtn.addEventListener("click", async () => {
      try {
        const res = await fetch("/api/auth/signout");
        if (!res.ok) {
          alert("response not okay");
          return;
        }
        await auth.signOut();
        return window.location.assign("/");
      } catch (err) {
        alert("cannot sign out");
        console.log(err);
      }
    });
  </script>
</Layout>
<style>
  #dashboard {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 40px;
    box-sizing: border-box;
    background-color: #C0EDFF;
    color: black;
  }
  #dashboard-main {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer {
    text-align: center;
    padding: 10px 20px;
    background-color: #c0edff;
  }
  #logo {
    cursor: pointer;
  }
  #signout-button {
		cursor: pointer;
		background-color: #c0edff;
    font-size: large;
		padding: 8px 16px;
		border: none;
		border-radius: 8px;
  }
  #signout-button:hover {
    filter: brightness(80%);
    text-decoration: underline;
  }
</style>
