<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link rel="icon" type="image/svg+xml" href="/sparkhacks-logo.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>SH 2026 Dashboard</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
    font-family: 'Arial';
    /* src: url('/fonts/Nunito-VariableFont_wght.ttf') format('opentype'); */
    font-weight: 0 900;
  }

	html {
    font-family: 'Arial', system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  
	code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
	}
</style>
