---
import DashboardLayout from "../../layouts/DashboardLayout.astro"
import AdminBoard from "../../components/AdminBoard"

// check token and session alive, check admin permission

---

<DashboardLayout>
  <section>
    <h1>Welcome Admin {}</h1>
  </section>
  <div style="flex: 1; width: 100%;">
    <AdminBoard client:load/>
  </div>
</DashboardLayout>
<!-- <style></style> -->