---
import DashboardLayout from "../../layouts/DashboardLayout.astro"
import AdminBoard from "../../components/AdminBoard"
import { getAuth } from "firebase-admin/auth";
import { app } from "../../firebase/server";
import AdminCode from "../../components/AdminCode";

let userEmail = "";
let userName = ""
let userPhoto = ""

// check token and session alive, check admin permission
try {
  const auth = getAuth(app);

  // no session or invalid session will be redirected to sign in page
  const sessionCookieObj = Astro.cookies.get("__session");
  if (!sessionCookieObj) {
    return Astro.redirect("/");
  }
  const sessionCookie = sessionCookieObj.value;
  const decodedCookie = await auth.verifySessionCookie(sessionCookie);
  if (!decodedCookie) {
    return Astro.redirect("/");
  }

  // invalid user will be redirected to sign in page
  const user = await auth.getUser(decodedCookie.uid);
  if (!user) {
    return Astro.redirect("/");
  }

  userEmail = user.email as string;
  userName = user.displayName || ""
  userPhoto = user.photoURL || ""

  // check admin permission
  if (!(user.customClaims && user.customClaims.admin === true)) {
    console.error("Not admin")
    return new Response("Not admin", { status: 401 })
  }
}
catch (err) {
  console.error(err);
  return Astro.redirect("/");
}


---

<DashboardLayout>
  <section class="user-info">
    <p>Scanning Mode for {userName}!</p>
    <img src={"/adminUser.svg"} alt="avatar" width="35" height="35" style="border-radius: 9999px;"/>
  </section>
  <div style="flex: 1; width: 100%;">
    <AdminCode client:load />
  </div>
</DashboardLayout>
<style>
  .user-info {
    max-width: 100%;
    font-size: x-large;
    display: flex;
    align-items: center;
    gap: 10px;
  }
</style>
